# Dependency directories
node_modules/
bower_components/

# Typescript compilation output
*.js
*.js.map

# IDE files
.vscode/
.idea/

# Compiled output
dist/

# Environment variables
.env

# Logs
*.log

# Mac-specific
.DS_Store

# Windows-specific
Thumbs.db